body {
	background: #262626;
}
.loader {
	display: grid;
	grid-template-columns: repeat(5, 10px);
	gap: 2px;
}
.loader .bar {
	height: 20px;
	background: lightblue;
	animation: loader 3s infinite;
	transform: scaleY(0.5);
}

@keyframes loader {
	0% {
		transform: scaleY(0.5);
	}
	50% {
		transform: scaleY(1);
	}
	100% {
		transform: scaleY(0.5);
	}
}
.loader .bar:nth-child(1) {
	animation-delay: 0.2s;
}
.loader .bar:nth-child(2) {
	animation-delay: 0.4s;
}
.loader .bar:nth-child(3) {
	animation-delay: 0.6s;
}
.loader .bar:nth-child(4) {
	animation-delay: 0.8s;
}
.loader .bar:nth-child(5) {
	animation-delay: 1s;
}
