body {
	display: grid;
	justify-content: center;
	align-items: center;
}
#cnv {
	border: 1px solid black;
	cursor: crosshair;
	border-radius: 10px;
}

button {
	padding: 10px;
	background: dodgerblue;
	font-family: "Montserrat", sans-serif;
	color: white;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: 1.5rem;
	margin-top: 1rem;
}
